* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto";
}

/* Navigation */ 

.nav-container {
    background: #C4C4C4;
    height: 119px;
}
.footer-container {
    background: #C4C4C4;
    height: 119px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav. logo {
    background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
}

.nav-items li {
   list-style: none; 
   margin-right: 100px;
}

.nav-items li a {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
text-decoration: none;
}

.footer-container li {
    list-style: none;
margin-right: 100px;
}

.footer-container li a {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
text-decoration: none;
}

/* Header */

.header-container {
    background: #00664F;
}

header {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

header h1 {
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #000000;
margin-bottom: 24px;
}

header p {
font-size: 24px;
line-height: 28px;
color: #000000;
width: 710px;
margin-bottom: 24px;
}

.tool-icons {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 24px;
}

.tool-icons a {
    margin: 0 24px;
}

#container {
    height: 242;
    width: 100%;
    margin: 0 24px;
    margin-bottom: 24px;
    
}
.block {
    display: inline-block;
    padding: 50px;
    color: #C4C4C4;
    font-family: "Roboto";
    background-color: #00664F;
}